article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
.navigation{  
  position:fixed;
  width:250px;
  height:auto;
  border:1px solid black;
}
.navigation ul{          
  list-style: none;
  padding-left:20px;
}


.navigation .nav > li > a {
  padding:0px !important;margin:0px !important;
}
.navigation .nav > .active > a,
.navigation .nav > .active:hover > a,
.navigation .nav > .active:focus > a {
  color:red;
  
}

main{
  width:auto;  
  padding-left:250px; 
  margin:0px 0px;
  border:1px solid black;
}
